# 14 Tidy Data
File(s) needed: pew.csv, billboard.csv, country_timeseries.csv, weather.csv

Tidy data is a way to structure data sets to make it easy to perform an analysis on them. A goal of data preparation should be to make data tidy.

What is tidy data?
- each column is a variable
- each row is an observation
- each type of observational unit forms a table

That may not seem like a big deal but that is because we almost always use very clean, tidy data in classes. Real world data is messy. We will look at the different ways we can work toward tidy data by looking at some untidy examples and cleaning them up.

# Columns contain values, not variables
This is especially common for data collection or presentation.

In [ ]:
# import pandas


# set the display option to be able to see all columns

## Keep one column fixed
This data set has columns that contain values instead of variables.

In [ ]:
# load the Pew Research Center data on income and religion in America

The only variable column is 'religion.' Income is spread across several columns. A good shape for presentations but not good for further analysis. We need to reshape the data so we have variables for religion, income, and the counts at each of those intersections.

This is known as "wide" data, because the variables are spread out. When we make it tidy, it will be considered "long" data.

We'll use the pandas function `melt` to reshape this data. A few important parameters of `melt` are
- `id_vars`: a string or a list of strings that represents the variables that don't change.
- `value_vars`: the column(s) you want to melt. Default: all columns not in `id_vars`
- `var_name`: the name for the new column after the `value_vars` columns have been melted into one column. Default: called _variable_
- `value_name`: the name for the new column that holds the values of `var_name`. Default: called _value_

In [ ]:
# Melt the data into a long table.
# We don't need to specify a value for value_vars because we are
#   melting all columns except religion.

In [ ]:
# change the default values so the columns get meaningful names

## Keep multiple columns fixed
What if we have more than one column that is okay as it is?

In [ ]:
# Load billboard data set

Weekly data is spread out across multiple columns but everything else is fine. We'll keep those columns fixed and melt the weekly data. Here again we won't need to specify `value_vars` because it will be the default of everything that isn't specified in `id_vars`.

In [ ]:
# Melt the billboard data into long form

In [ ]:
# Let's look at the results in other ways

# Columns contain multiple variables
Common with healthcare data. We'll use data on Ebola cases to see an example.

In [ ]:
# Load the ebola data set

Find the columns `Cases_Guinea` and `Deaths_Guinea`. These two columns each contain data on two variables: country name and number of cases (for Cases_Guinea) and country name and number of deaths (for Deaths_Guinea). So we should really melt those into a patient's status and country. First, we'll get the data out of the "wide" format.

In [ ]:
# convert from wide to long data

## Split and add columns
Looking at the values that are now in the `variable` column, we would like to split the columns into two variables: status and country. In this data, that happens at the underscore (`_`) in the data value. For example, the first row had 'Cases_Guinea' in the variable column. We can use a string method called `split()` to create the two values. We'll see more string methods later, but for now we can know that the `split()` method takes as an argument the character to use as the splitting point and it returns a list with the results.

In [ ]:
# Get the variable column in the data frame. Access the string methods with str and
#   split the column at the _

Now we need to assign those values to a new column. First, we extract the parts we need. For the status values, we need the zero element of the results list *variable_split*, and for the country values we need the 1 element.

In [ ]:
# Extract the values needed

In [ ]:
# Now we can add them to our dataframe.

We can check some values to make sure everything is where it should be.

# Variables in both rows and columns
Some times data will be formatted so there are variables in both rows and columns. That is a combination of what we have seen so far, so we have already seen most of the methods used to tidy it up.

We'll use weather data to look at how we deal with this problem.

In [ ]:
# Load the weather data

In [ ]:
# Look at info() for the weather data

Look at the 'element' column. It has values for tmax and tmin, the high and low temperatures respectively. They need to be split into new columns. 

Then there are all the 'd' columns. They represent daily temperatures and need to be melted into one variable column.

First, we'll melt the day values.

In [ ]:
# Melt the day values

In [ ]:
# What about the tail?

We still need to pivot the element column into two columns. We can use the `pivot_table()` method of the data frame to do this. It works like `melt()`, just in the opposite direction.

In [ ]:
# Pivot the element column into two columns that get the temp values
# The data frame index will be a hierarchical mess if we don't reset it.

In the `pivot_table()` method above, the arguments are
- `index`: the columns to leave alone
- `columns`: the column(s) to pivot into new columns
- `values`: the column(s) that hold the data values to pivot

After all this manipulation, the index values for the rows are completely jumbled up. `reset_index()` fixes that.

In [ ]:
# we only have the non-null data left in our data frame

In [ ]:
# Sort the data by the values in month and day columns

# Multiple observational units in one table (nonnormalized)
Are we looking at data that is not normalized? See if any values are repeated across rows.

Let's look at an example from the Billboard data we tidied earlier.

In [ ]:
# This cell only needs to be run if the Billboard data is not already in memory
billboard = pd.read_csv('../data/billboard.csv')
billboard_long = pd.melt(billboard,
                        id_vars=['year','artist','track','time','date.entered'],
                        var_name='week',
                        value_name='rank')
billboard_long.head()

In [ ]:
# Let's look at a subset of the data for one track.

It looks like the table repeats the track info with every weekly ranking data point. The track info should really be stored in a separate table. Year, artist, track, and time should be moved to a new data frame with a unique ID number and without all the duplication. Then we can use this ID to link the tables when we need to. 

Start by subsetting the track info to a new data frame.

In [ ]:
# Subset the track info

In [ ]:
# Drop the duplicate values - we first did this in the missing data notebook

In [ ]:
# Assign a unique ID number to each row

In [ ]:
# Use the ID number to match the new song data frame to the ranking data in the original data set.

Let's look at what the `merge()` method does and its arguments.
- it is a method of a data frame, so it is called from one frame. The first argument listed is the other data frame to merge.
- the `on` parameter is the column(s) common to both data frames to match up in order to accomplish the merge.

More info is available on the pandas documentation site
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

In [ ]:
# Finally, get rid of the unneeded columns in the ranking data frame.
# We can do this by either subsetting or dropping columns. Here we subset.