Data Science Fundamentals: Python |
[Table of Contents](../../index.ipynb)
- - - 
<!--NAVIGATION-->
Real World Examples: [Web Scraping](../web_scraping/01_rw_web_scraping.ipynb) | [Automation](../automation/02_rw_automation.ipynb) | [Messaging](../messaging/03_rw_messaging.ipynb) | [CSV](../csv/04_rw_csv.ipynb) | [Games](../games/05_games.ipynb) | [Mobile](../mobile/06_mobile.ipynb) | [Computer Vision](../computer_vision/08_computer_vision.ipynb) | [Chatbot](../chatbot/10_chatbot.ipynb) | **[Built-In Database](../database/11_database.ipynb)**
- - -
Life Examples: [COVID-19](../COVID-19/COVID-19_visualizations-plotly.ipynb) | [Police Brutality](https://maminian.github.io/brutality-map/) | [Spanish Flu](../spanishflu/index.ipynb)

## Real World: Built-In Database - SQLite

SQLite is a C library that provides a lightweight disk-based database that doesn't require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language. ... Usually your SQL operations will need to use values from Python variables.

SQLite has almost all the features you need as a relational database, but everything is saved in a single file. In the official site, here are some scenarios that you could use SQLite.

- Embedded devices and IoT
- Data Analysis
- Data Transferring
- File archive and/or data container
- Internal or temporary databases
- Stand-in for an enterprise database during demos or testing
- Education, training and testing
- Experimental SQL language extensions

“Built-in” means that you don’t even need to run pip install to acquire the library. Simply import it by:

In [1]:
import sqlite3 as sl

### Create a Connection to DB

Don’t be bothered with the drivers, connection strings and so on. You can create an SQLite database and have a connection object as simple as:

In [2]:
con = sl.connect('my-test.db')

After running this line of code, it creates the database and connected to it already. This is because the database we asked Python to connect to is not existing so that it automatically created an empty one. Otherwise, we can use exactly the same code to connect to an existing database.

![image](images/database.png)

### Create a Table

Then, let’s create a table.

In [3]:
with con:
    con.execute("""
        CREATE TABLE USER (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            name TEXT,
            age INTEGER
        );
    """)

OperationalError: table USER already exists

In this USER table, we added three columns. As you can see, SQLite is indeed light-weight, but it supports all the basic features of a regular RDBMS should have, such as the data type, nullable, primary key and auto-increment.
After running this code, we should have created a table already, although it outputs nothing.

### Insert Records

Let’s insert some records into the USER table we just created, which can also prove that we indeed created it.
Suppose we want to insert multiple entries in one go. SQLite in Python can achieve this easily.

In [4]:
sql = 'INSERT INTO USER (id, name, age) values(?, ?, ?)'
data = [
    (4, 'Gabe', 19),
    (5, 'Gary', 33),
    (6, 'Brenda', 33)
]

We need to define the SQL statement with question marks ? as placeholder. Then, let’s create some sample data to be inserted. With the connection object, we can then insert these sample rows.

In [5]:
with con:
    con.executemany(sql, data)

### Query the Table
Now, it’s time to verify everything we have done in a tangible way. Let’s query the table to get the sample rows back.

In [7]:
with con:
    data = con.execute("SELECT * FROM USER WHERE age >= 22")
    for row in data:
        print(row)

(2, 'Bob', 22)
(3, 'Chris', 23)
(5, 'Gary', 33)
(6, 'Brenda', 33)

### Connect to SQLite DB from SQL Client (DBeaver)

Download the ```my-test.db``` file to your local machine. In your case, if you run Python on your local machine, you can use your SQL client to connect directly to the databases file. In this example, we will be using and downloading [DBeaver](https://dbeaver.io/).

In DBeaver, create a new connection and select SQLite as DB type.

![image](images/dbeaver1.png)

Then, browse to the DB file.

![image](images/dbeaver2.png)

Now, you can run any SQL query on the database. It is nothing different from other regular relational databases.

![image](images/dbeaver3.png)

## Seamless Integrate with Pandas

SQLite can seamlessly integrate with Pandas Data Frame. Let's define a dataframe:

In [8]:
import pandas as pd

df_skill = pd.DataFrame({
    'user_id': [1,1,2,2,3,3,3],
    'skill': ['Network Security', 'Algorithm Development', 'Network Security', 'Java', 'Python', 'Data Science', 'Machine Learning']
})
df_skill

   user_id                  skill
0        1       Network Security
1        1  Algorithm Development
2        2       Network Security
3        2                   Java
4        3                 Python
5        3           Data Science
6        3       Machine Learning

![image](images/dbeaver4.png)

Then, we can simply call to_sql() method of the data frame to save it into the database.

In [9]:
df_skill.to_sql('SKILL', con)

That’s it! We even don’t need to create the table in advance, the column data types and length will be inferred. Of course, you can still define it beforehand if you want to.  Then, let’s say we want to join the table USER and SKILL, and read the result into a Pandas data frame. It’s also seamless.

In [10]:
df = pd.read_sql('''
    SELECT s.user_id, u.name, u.age, s.skill 
    FROM USER u LEFT JOIN SKILL s ON u.id = s.user_id
''', con)

![image](images/dbeaver5.png)

Let’s write the results to a new table called ```USER_SKILL```.

In [11]:
df.to_sql('USER_SKILL', con)

Then, we can also use our SQL client to retrieve the table.

![image](images/dbeaver6.png)